@model VirtualScrum.Models.DailyStatusDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DailyStatusDetail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DailyStatusDetailsId, "DailyStatusDetailsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DailyStatusDetailsId", String.Empty)
                @Html.ValidationMessageFor(model => model.DailyStatusDetailsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DidYesterday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DidYesterday)
                @Html.ValidationMessageFor(model => model.DidYesterday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoToday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoToday)
                @Html.ValidationMessageFor(model => model.DoToday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BlockingIssue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BlockingIssue)
                @Html.ValidationMessageFor(model => model.BlockingIssue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
