@model VirtualScrum.Models.DailyStatusDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyStatusDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyStatus.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyStatus.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DidYesterday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DidYesterday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoToday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoToday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockingIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockingIssue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DailyStatusDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
