@model IEnumerable<VirtualScrum.Models.ScrumTeamMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Back", "OnLogin", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScrumTeam.TeamProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrumDesignation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScrumTeam.TeamProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScrumDesignation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { scrumTeamID = item.ScrumTeamId, userName = item.UserName }) |
            @Html.ActionLink("Details", "Details", new { scrumTeamID = item.ScrumTeamId, userName = item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { scrumTeamID = item.ScrumTeamId, userName = item.UserName })
        </td>
    </tr>
}

</table>
