@*@model VirtualScrum.Models.DailyStatus*@
@model Tuple<VirtualScrum.Models.DailyStatus, VirtualScrum.Models.DailyStatusInfo>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@{
    IList<SelectListItem> ScrumTeamInfoList = Model.Item2.ScrumTeamInfoList;
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DailyStatus</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Date)
                @Html.ValidationMessageFor(model => model.Item1.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.ScrumTeamId, "ScrumTeamId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Item1.ScrumTeamId, ScrumTeamInfoList, "")
                @Html.ValidationMessageFor(model => model.Item1.ScrumTeamId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.UserName, "UserName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
<<<<<<< HEAD
                @Html.EditorFor(model => model.Item1.UserName)
                @Html.ValidationMessageFor(model => model.Item1.UserName)
=======
                @*@Html.DropDownList("UserName", String.Empty)*@
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
>>>>>>> origin/master
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
