@model VirtualScrum.Models.DailyStatus

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DailyStatus</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DailyStatusId)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScrumTeamId, "ScrumTeamId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ScrumTeamId", String.Empty)
                @Html.ValidationMessageFor(model => model.ScrumTeamId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "UserName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserName", String.Empty)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DidYesterday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DidYesterday)
                @Html.ValidationMessageFor(model => model.DidYesterday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoToday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoToday)
                @Html.ValidationMessageFor(model => model.DoToday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BlockingIssue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BlockingIssue)
                @Html.ValidationMessageFor(model => model.BlockingIssue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
