
@{
    ViewBag.Title = "OnLogin";
}

<h2>Click to open</h2>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Manage Scrum Team", "Index", "ScrumTeam")</li>
        <li>@Html.ActionLink("Manage Scrum Team Members", "Index", "ScrumTeamMember")</li>
        <li>@Html.ActionLink("Manage Daily Updates", "Index", "DailyStatus")</li>
        <li>@Html.ActionLink("My Teams", "Index", "TeamUser")</li>
    </ul>
</nav>

